.button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: border-color 0.25s;
}

.buttonGhost {
  background-color: transparent;
}

.buttonOutline {
  border-style: solid;
}

.buttonCircle {
  border-radius: 9999px;
  width: 3rem;
  height: 3rem;
}

/* .button:hover {
  border-color: #646cff;
} */

.button:focus,
.button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}