.background {
  min-height: 100vh;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: -1;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
  background-image:
    radial-gradient(circle at 30% 70%, rgba(173, 216, 230, 0.35), transparent 60%),
    radial-gradient(circle at 70% 30%, rgba(255, 182, 193, 0.4), transparent 60%);
}

.stripes {
  position: absolute;
  inset: 0;
  z-index: 0;
  background-image: repeating-linear-gradient(45deg, transparent, transparent 0px, rgb(243, 244, 246) 1px, rgb(243, 244, 246) 13px);

}